.imdb {
    color: #000;
    padding: 3px;
    font-size: 12px;
    font-weight: 700;
    background: #e3b71e;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.main-content {
    background-color: #252525;
    .content {
        .container {
            background-color: #252525;
            .film-info {
                .image {
                    width: 100%;
                    height: 0;
                    padding-bottom: 50%;
                    position: relative;
                    background: url(https://i3.wp.com/img.phimchill.net/images/info/the-ash-lad-in-the-hall-of-the-mountain-kingaskeladden-i-dovregubbens-hall.jpg)
                        no-repeat center;
                    background-size: cover;
                    > img {
                        width: 250px;
                        height: 150px;
                        object-fit: cover;
                        border: 1px solid #fff;
                        position: absolute;
                        bottom: 10px;
                        left: 10px;
                    }
                    > .icon-play {
                        background: rgba(255, 150, 1, 0.75);
                        height: 50px;
                        width: 50px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin: -25px 0 0 -25px;
                        border-radius: 50%;
                        transform: scale(1.5);
                        transition: all 0.3s ease-in-out;
                        cursor: pointer;
                        opacity: 0.7;
                    }
                    > .icon-play::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        border: 15px solid transparent;
                        border-left: 20px solid #fff;
                        margin: -15px 0 0 -6px;
                    }
                    > .icon-play:hover {
                        transform: scale(1.8);
                    }
                    .text {
                        position: absolute;
                        bottom: 10px;
                        left: 280px;
                        > h1 {
                            margin: 0 0 8px;
                            color: #fff;
                            text-shadow: 0 2px 1px #333;
                        }
                        > h2 {
                            font-size: 16px;
                            margin: 0 0 10px;
                            font-weight: 700;
                            text-shadow: 0 2px 1px #333;
                            color: #fff;
                        }
                        > ul {
                            margin: 0;
                            padding: 0;
                            li {
                                display: inline-block;
                                box-shadow: 0 3px 5px rgb(0 0 0 / 50%);
                                margin-right: 5px;
                                a {
                                    font-weight: 700;
                                    border-radius: 0;
                                }
                            }
                        }
                    }
                }
                > .text {
                    margin-top: 10px;
                    padding: 10px;
                    background-color: #252525;
                    .breadcrumb {
                        > li {
                            > a {
                                font-size: 15px;
                                font-weight: 400;
                                color: white;
                                margin: 0;
                                > span {
                                    color: #ff9601;
                                    display: inline-block;
                                }
                            }
                        }
                    }
                    .social {
                        .box-rating {
                            #star {
                                cursor: pointer;
                                float: left;
                                width: 200px;
                            }
                        }
                    }
                    .entry-meta {
                        border: 1px solid red;
                        margin-top: 10px;
                        list-style: none;
                        padding: 0;
                        overflow: hidden;
                        padding-bottom: 10px;
                        padding-left: 5px;
                        > li {
                            width: 30%;
                            float: left;
                            color: #828282;
                            > label {
                                color: white;
                            }
                            > span {
                                color: #828282;
                            }
                            > a {
                                color: #828282;
                            }
                            > a:hover {
                                color: orange;
                            }
                        }
                    }
                    .film-content-wrapper {
                        color: #828282;
                        > .heading {
                            font-weight: 700;
                            margin-bottom: 15px;
                            font-size: 1.1em;
                            color: #ff9601;
                        }
                    }
                    #tags {
                        color: #828282;
                        > .heading {
                            font-weight: 700;
                            margin-bottom: 15px;
                            font-size: 1.1em;
                            color: #ff9601;
                        }
                        .tags-list {
                            display: flex;
                            .tag {
                                list-style: none;
                                margin: 0 0.8em 0.8em 0;
                                box-shadow: 0 3px 0 rgb(0 0 0 / 20%);
                                background: #353535;
                                > h3 {
                                    margin: 0;
                                    font-weight: 400;
                                    > a {
                                        display: block;
                                        padding: 0.4em 0.6em;
                                        line-height: inherit;
                                        font-size: 14px;
                                        font-weight: 400;
                                        color: #778187;
                                        margin: 0;
                                    }
                                }
                            }
                        }
                        .tukhoa {
                            > h4 {
                                color: white;
                                font-size: 11px;
                            }
                        }
                    }
                }
                .comment {
                    background: #fff;
                    padding: 5px;
                    margin: 20px 0 0;
                    border-radius: 3px;
                }
                .film-related {
                    margin: 20px 0 0;
                    padding: 10px 0 0;
                    > .heading {
                        .caption {
                            font-size: 25px;
                            font-weight: 700;
                            text-transform: uppercase;
                            margin-bottom: 15px;
                            padding: 16px 0;
                            color: #ff8a00;
                        }
                    }
                    .item {
                        position: relative;
                        // top right bottom left
                        > span {
                            position: absolute;
                            top: 0px;
                            left: 8px;
                            padding: 5px;
                            background: #ff9601;
                            border-radius: 0 3px 3px 0;
                        }
                        > a {
                            display: block;
                            margin: 0 8px;
                            overflow: hidden;
                            color: white;
                            > img {
                                width: 100%;
                                // width: 100%;
                                height: 100px;
                                object-fit: cover;
                            }
                            > p {
                                background-color: rgba(0, 0, 0, 0.7);
                                width: 92.5%;
                                //width: 85%;
                                max-height: 35px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                position: absolute;
                                bottom: 0;
                                margin: 0;
                                // top right bottom left
                                padding: 5px 0px 5px 2px;
                            }
                        }
                        > .icon-play {
                            background: rgba(255, 150, 1, 0.75);
                            height: 50px;
                            width: 50px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            margin: -25px 0 0 -25px;
                            border-radius: 50%;
                            transform: scale(1.5);
                            transition: all 0.3s ease-in-out;
                            cursor: pointer;
                            opacity: 0;
                        }
                        > .icon-play::after {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            border: 15px solid transparent;
                            border-left: 20px solid #fff;
                            margin: -15px 0 0 -6px;
                        }
                    }
                    .item:hover{
                        > .icon-play {
                            transform: scale(1.05);
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }
}
.container-tag-box {
    margin: 0 auto;
    width: auto;
    padding: 0 60px;
    max-width: 1500px;
    > p {
        margin: 0;
        padding: 0;
        .btn-dark {
            border-color: transparent;
            background-color: transparent;
        }
        > a {
            padding: 0.25rem 0.75rem;
            margin: 0;
            color: #fff;
            line-height: 18px;
            font-size: 12px;
        }
        > a:hover {
            color: orange;
        }
    }
}
