<app-header></app-header>
<div class="main-content">
    <div class="content">
        <div class="container">
            <div class="film-info">
                <div class="image">
                    <img class="avatar" itemprop="image" alt="The Ash Lad: Cuộc Chiến Sơn Thần"
                        src="https://img.phimchill.net/images/film/the-ash-lad-cuoc-chien-son-than.jpg" />
                    <a href="#" class="icon-play"></a>
                    <div class="text">
                        <h1 itemprop="name">The Ash Lad: Cuộc Chiến Sơn Thần</h1>
                        <h2>
                            The Ash Lad: In the Hall of the Mountain King/Askeladden - I Dovregubbens hall (2017)
                        </h2>
                        <ul class="list-button">
                            <li>
                                <a class="btn btn-download btn-info" href="#"
                                    title="Trailer The Ash Lad: Cuộc Chiến Sơn Thần-The Ash Lad: In the Hall of the Mountain King/Askeladden - I Dovregubbens hall">
                                    <i class="fa fa-youtube-play"></i>
                                    Trailer
                                </a>
                            </li>
                            <li>
                                <a class="btn-see btn btn-danger" href="#"
                                    title="Xem phim The Ash Lad: Cuộc Chiến Sơn Thần The Ash Lad: In the Hall of the Mountain King/Askeladden - I Dovregubbens hall">
                                    <i class="fa fa-play-circle-o"></i>
                                    Xem phim
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="text">
                    <div class="breadcrumb">
                        <li>
                            <a href="#" title="Xem phim">
                                <span>
                                    <i class="fa fa-home"></i>
                                    Xem phim
                                    <i class="fa fa-angle-right"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Xem phim">
                                <span>
                                    Phim Viễn Tưởng
                                    <i class="fa fa-angle-right"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Xem phim">
                                <span>
                                    Phim Cổ Trang
                                    <i class="fa fa-angle-right"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Xem phim">
                                <span>
                                    Phim Phiêu Lưu
                                    <i class="fa fa-angle-right"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="current" title="The Ash Lad: Cuộc Chiến Sơn Thần"> The Ash Lad: Cuộc Chiến Sơn
                                Thần</a>
                        </li>
                    </div>
                    <div class="social">
                        <div class="fb-send"
                            data-href="https://phimchill.net/info/the-ash-lad-cuoc-chien-son-than-pm8946"></div>
                        <div class="fb-like fb_iframe_widget"
                            data-href="https://phimchill.net/info/the-ash-lad-cuoc-chien-son-than-pm8946"
                            data-layout="button_count" data-action="like" data-size="small" data-show-faces="false"
                            data-share="true" fb-xfbml-state="rendered"
                            fb-iframe-plugin-query="action=like&amp;app_id=1057881674616601&amp;container_width=960&amp;href=https%3A%2F%2Fphimchill.net%2Finfo%2Fthe-ash-lad-cuoc-chien-son-than-pm8946&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;show_faces=false&amp;size=small">
                            <span style="vertical-align: bottom; width: 150px; height: 28px;"><iframe
                                    name="f1d9c51ca512438" width="1000px" height="1000px"
                                    data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin"
                                    frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no"
                                    allow="encrypted-media"
                                    src="https://www.facebook.com/v7.0/plugins/like.php?action=like&amp;app_id=1057881674616601&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df1f650639105c08%26domain%3Dphimchill.net%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fphimchill.net%252Ff27d1d9b36df25c%26relation%3Dparent.parent&amp;container_width=960&amp;href=https%3A%2F%2Fphimchill.net%2Finfo%2Fthe-ash-lad-cuoc-chien-son-than-pm8946&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;show_faces=false&amp;size=small"
                                    style="border: none; visibility: visible; width: 150px; height: 28px;"
                                    class=""></iframe></span>
                        </div>
                        <div class="box-rating">
                            <div id="star">
                                <img src="https://phimchill.net/media/img/star-on.png" alt="1" title="Dở tệ" />&nbsp;<img src="https://phimchill.net/media/img/star-on.png" alt="2" title="Dở" />&nbsp;<img src="https://phimchill.net/media/img/star-on.png" alt="3" title="Không hay" />&nbsp;<img src="https://phimchill.net/media/img/star-on.png" alt="4" title="Không hay lắm" />&nbsp;<img src="https://phimchill.net/media/img/star-on.png" alt="5" title="Bình thường" />&nbsp;<img src="https://phimchill.net/media/img/star-on.png" alt="6" title="Xem được" />&nbsp;<img src="https://phimchill.net/media/img/star-on.png" alt="7" title="Có vẻ hay" />&nbsp;<img src="https://phimchill.net/media/img/star-on.png" alt="8" title="Hay" />&nbsp;<img src="https://phimchill.net/media/img/star-on.png" alt="9" title="Rất hay" />&nbsp;<img src="https://phimchill.net/media/img/star-on.png" alt="10" title="Tuyệt hay" />
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>