<div id="main-content">
    <div id="content">
        <div class="container filter-page">
            <div class="block">
                <div class="heading">
                    <h1 class="caption" style="margin: 0;"> Phim Lẻ </h1>
                    <div class="order">
                        <ul>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                    Dropdown button
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                    <li><a class="dropdown-item active" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                                </ul>
                            </div>
                            <li><select class="form-control" id="country" name="country">
                                    <option value="">Quốc gia</option>
                                    <option value="1">Phim Việt Nam</option>
                                    <option value="2">Phim Trung Quốc</option>
                                    <option value="3">Phim Hàn Quốc</option>
                                    <option value="4">Phim Nhật Bản</option>
                                    <option value="5">Phim Âu Mỹ</option>
                                    <option value="6">Phim Thái Lan</option>
                                    <option value="7">Phim Đài Loan</option>
                                    <option value="8">Phim Tổng Hợp</option>
                                    <option value="9">Phim Hồng Kông</option>
                                    <option value="10">Phim Ấn Độ</option>
                                </select></li>
                            <li><select id="year" name="year" class="form-control">
                                    <option value="">Năm phát hành</option>
                                    <option value="2021">2021</option>
                                    <option value="2020">2020</option>
                                    <option value="2019">2019</option>
                                    <option value="2018">2018</option>
                                    <option value="2017">2017</option>
                                    <option value="2016">2016</option>
                                    <option value="2015">2015</option>
                                    <option value="2014">2014</option>
                                    <option value="2013">2013</option>
                                    <option value="2012">2012</option>
                                    <option value="2011">2011</option>
                                    <option value="2010">2010</option>
                                    <option value="2009">2009</option>
                                    <option value="2008">2008</option>
                                    <option value="2007">2007</option>
                                    <option value="2006">trước 2007</option>
                                </select></li>
                            <li> <select id="type" name="type" class="form-control">
                                    <option value="">Ngôn Ngữ</option>
                                    <option value="0">Phụ Đề</option>
                                    <option value="1">Thuyết Minh</option>
                                </select> </li>
                            <li><select class="form-control" id="byorder" name="byorder">
                                    <option value="">Sắp xếp</option>
                                    <option value="timeupdate">Thời gian cập nhật</option>
                                    <option value="viewed">Lượt xem</option>
                                    <option value="year">Năm sản xuất</option>
                                </select></li>
                            <li><select class="form-control" id="hinhthuc" name="hinhthuc">
                                    <option value="">Hình thức</option>
                                    <option value="phim-le">Phim lẻ</option>
                                    <option value="phim-bo">Phim bộ</option>
                                </select></li>
                            <li> <span class="submit-filter" onclick="loc();">Tìm kiếm</span> </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>