<app-header></app-header>
<div id="main-content">
    <div id="content">
        <div class="container filter-page">
            <div class="block">
                <div class="heading">
                    <h1 class="caption" style="margin: 0;"> Phim Lẻ </h1>

                    <div class="order">
                        <ul>
                            <li> <select id="cat" name="cat" class="form-select">
                                    <option value="">Thể loại</option>
                                    <option value="1">Phim Hành Động</option>
                                    <option value="2">Phim Võ Thuật</option>
                                    <option value="3">Phim Tình Cảm</option>
                                    <option value="4">Phim Hoạt Hình</option>
                                    <option value="6">Phim Hài Hước</option>
                                    <option value="7">Phim Viễn Tưởng</option>
                                    <option value="8">Phim Cổ Trang</option>
                                    <option value="10">Phim Phiêu Lưu</option>
                                    <option value="13">Phim Tâm Lý</option>
                                    <option value="18">Phim Khoa Học</option>
                                    <option value="19">Phim Hình Sự</option>
                                    <option value="21">Phim Ma - Kinh Dị</option>
                                    <option value="22">Phim Chiến Tranh</option>
                                    <option value="24">Phim Âm Nhạc</option>
                                    <option value="26">Phim Thể Thao</option>
                                    <option value="30">Phim Thần Thoại</option>
                                    <option value="31">Game show</option>
                                    <option value="37">Phim Truyền Hình</option>
                                    <option value="40">Phim Chiếu Rạp</option>
                                    <option value="41"> Phim Anime</option>
                                    <option value="42">Phim Sắp Chiếu</option>
                                    <option value="43">Phim Thuyết Minh</option>
                                    <option value="44">Phim 18+</option>
                                </select></li>
                            <li><select class="form-select" id="country" name="country">
                                    <option value="">Quốc gia</option>
                                    <option value="1">Phim Việt Nam</option>
                                    <option value="2">Phim Trung Quốc</option>
                                    <option value="3">Phim Hàn Quốc</option>
                                    <option value="4">Phim Nhật Bản</option>
                                    <option value="5">Phim Âu Mỹ</option>
                                    <option value="6">Phim Thái Lan</option>
                                    <option value="7">Phim Đài Loan</option>
                                    <option value="8">Phim Tổng Hợp</option>
                                    <option value="9">Phim Hồng Kông</option>
                                    <option value="10">Phim Ấn Độ</option>
                                </select></li>
                            <li><select id="year" name="year" class="form-select">
                                    <option value="">Năm phát hành</option>
                                    <option value="2021">2021</option>
                                    <option value="2020">2020</option>
                                    <option value="2019">2019</option>
                                    <option value="2018">2018</option>
                                    <option value="2017">2017</option>
                                    <option value="2016">2016</option>
                                    <option value="2015">2015</option>
                                    <option value="2014">2014</option>
                                    <option value="2013">2013</option>
                                    <option value="2012">2012</option>
                                    <option value="2011">2011</option>
                                    <option value="2010">2010</option>
                                    <option value="2009">2009</option>
                                    <option value="2008">2008</option>
                                    <option value="2007">2007</option>
                                    <option value="2006">trước 2007</option>
                                </select></li>
                            <li> <select id="type" name="type" class="form-select">
                                    <option value="">Ngôn Ngữ</option>
                                    <option value="0">Phụ Đề</option>
                                    <option value="1">Thuyết Minh</option>
                                </select> </li>
                            <li><select class="form-select" id="byorder" name="byorder">
                                    <option value="">Sắp xếp</option>
                                    <option value="timeupdate">Thời gian cập nhật</option>
                                    <option value="viewed">Lượt xem</option>
                                    <option value="year">Năm sản xuất</option>
                                </select></li>
                            <li><select class="form-select" id="hinhthuc" name="hinhthuc">
                                    <option value="">Hình thức</option>
                                    <option value="phim-le">Phim lẻ</option>
                                    <option value="phim-bo">Phim bộ</option>
                                </select></li>
                            <li> <span class="submit-filter" onclick="loc();">Tìm kiếm</span> </li>
                        </ul>
                    </div>
                </div>
                <div class="text">
                    <div class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                        <li itemscope="" itemtype="http://schema.org/ListItem"><a itemprop="item" href="/" title="Trang Chủ"><span itemprop="name"><i class="fa fa-home"></i> Phim Mới <i class="fa fa-angle-right"></i></span></a>
                            <meta itemprop="position" content="1">
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a itemprop="item" href="https://phimchill.tv/list/phim-le" title="Phim Lẻ"><span itemprop="name"> Phim Lẻ </span></a>
                            <meta itemprop="position" content="2">
                        </li>
                    </div>
                    <div class="clear"></div>
                    <div class="des"><a href="https://phimchill.tv/list/phim-le"><strong>Phim Lẻ</strong></a> mới nhất ,Tổng hợp danh sách Phim Lẻ hay được web cập nhật liên tục.Tải Phim Lẻ năm 2021, Xem Phim Lẻ vietsub, thuyết minh mới nhất, Tổng hợp Phim Lẻ hay nhất 2021</div>
                </div>
                <div id="binlist">
                    <ul class="list-film horizontal">
                        <li class="item small"> <span class="label">
                                <div class="status">HD-Vietsub</div>
                            </span>
                            <a title="Thánh Lễ Ác Mộng - Midnight Mass" href="https://phimchill.tv/info/thanh-le-ac-mong-pm9029" style="height: 133.875px;">
                                <img alt="Thánh Lễ Ác Mộng - Midnight Mass" src="https://img.phimchill.tv/images/info/midnight-mass.jpg">
                                <h3>Thánh Lễ Ác Mộng</h3>

                            </a>
                            <a href="#" class="icon-play"></a>
                        </li>
                        <li class="item small"> <span class="label">
                                <div class="status">HD-Thuyết Minh</div>
                            </span> <a title="Nhiệm Vụ Bí Mật - Cliff Walkers" href="https://phimchill.tv/info/nhiem-vu-bi-mat-pm9028" style="height: 133.875px;"> <img alt="Nhiệm Vụ Bí Mật - Cliff Walkers" src="https://img.phimchill.tv/images/info/cliff-walkers.jpg">
                                <h3>Nhiệm Vụ Bí Mật</h3> <i class="icon-play"></i>
                            </a> </li>
                        <li class="item small"> <span class="label">
                                <div class="status">HD-Vietsub</div>
                            </span> <a title="Bạch Xà 2: Thanh Xà Kiếp Khởi - White Snake 2: Green Snake" href="https://phimchill.tv/info/bach-xa-2-thanh-xa-kiep-khoi-pm9027" style="height: 133.875px;"> <img alt="Bạch Xà 2: Thanh Xà Kiếp Khởi - White Snake 2: Green Snake" src="https://img.phimchill.tv/images/info/white-snake-2-green-snake.jpg">
                                <h3>Bạch Xà 2: Thanh Xà Kiếp Khởi</h3> <i class="icon-play"></i>
                            </a> </li>
                        <li class="item small"> <span class="label">
                                <div class="status">HD-Vietsub</div>
                            </span> <a title="Linh Hồn Của Buổi Tiệc - Afterlife of the Party" href="https://phimchill.tv/info/linh-hon-cua-buoi-tiec-pm9026" style="height: 133.875px;"> <img alt="Linh Hồn Của Buổi Tiệc - Afterlife of the Party" src="https://img.phimchill.tv/images/info/afterlife-of-the-party.jpg">
                                <h3>Linh Hồn Của Buổi Tiệc</h3> <i class="icon-play"></i>
                            </a> </li>
                        <li class="item small"> <span class="label">
                                <div class="status">HD-Vietsub</div>
                            </span> <a title="Gọi Quỷ - DemoniC" href="https://phimchill.tv/info/goi-quy-pm9025" style="height: 133.875px;"> <img alt="Gọi Quỷ - DemoniC" src="https://img.phimchill.tv/images/info/demonic.jpg">
                                <h3>Gọi Quỷ</h3> <i class="icon-play"></i>
                            </a> </li>
                        <li class="item small"> <span class="label">
                                <div class="status">HD-Vietsub</div>
                            </span> <a title="Kẻ Báo Thù Cuối Cùng - Last Man Down" href="https://phimchill.tv/info/ke-bao-thu-cuoi-cung-pm9024" style="height: 133.875px;"> <img alt="Kẻ Báo Thù Cuối Cùng - Last Man Down" src="https://img.phimchill.tv/images/info/last-man-down.jpg">
                                <h3>Kẻ Báo Thù Cuối Cùng</h3> <i class="icon-play"></i>
                            </a> </li>
                        <li class="item small"> <span class="label">
                                <div class="status">HD-Vietsub</div>
                            </span> <a title="Diệp Vấn: Tông Sư Thức Tỉnh - Ip Man: The Awakening Master" href="https://phimchill.tv/info/diep-van-tong-su-thuc-tinh-pm9023" style="height: 133.875px;"> <img alt="Diệp Vấn: Tông Sư Thức Tỉnh - Ip Man: The Awakening Master" src="https://img.phimchill.tv/images/info/ip-man-the-awakening-master.jpg">
                                <h3>Diệp Vấn: Tông Sư Thức Tỉnh</h3> <i class="icon-play"></i>
                            </a> </li>
                        <li class="item small"> <span class="label">
                                <div class="status">HD-Vietsub</div>
                            </span> <a title="Khỉ Đột Ivan - The One and Only Ivan" href="https://phimchill.tv/info/khi-dot-ivan-pm9021" style="height: 133.875px;"> <img alt="Khỉ Đột Ivan - The One and Only Ivan" src="https://img.phimchill.tv/images/info/the-one-and-only-ivan.jpg">
                                <h3>Khỉ Đột Ivan</h3> <i class="icon-play"></i>
                            </a> </li>
                        <li class="item small"> <span class="label">
                                <div class="status">HD-Vietsub</div>
                            </span> <a title="Khách Sạn Tử Thi - Cadaver" href="https://phimchill.tv/info/khach-san-tu-thi-pm9020" style="height: 133.875px;"> <img alt="Khách Sạn Tử Thi - Cadaver" src="https://img.phimchill.tv/images/info/cadaver.jpg">
                                <h3>Khách Sạn Tử Thi</h3> <i class="icon-play"></i>
                            </a> </li>
                        <li class="item small"> <span class="label">
                                <div class="status">HD-Vietsub</div>
                            </span> <a title="Thiên Tài Bị Lãng Quên - Tesla" href="https://phimchill.tv/info/thien-tai-bi-lang-quen-pm9019" style="height: 133.875px;"> <img alt="Thiên Tài Bị Lãng Quên - Tesla" src="https://img.phimchill.tv/images/info/tesla.jpg">
                                <h3>Thiên Tài Bị Lãng Quên</h3> <i class="icon-play"></i>
                            </a> </li>
                        <li class="item small"> <span class="label">
                                <div class="status">HD-Vietsub</div>
                            </span> <a title="Đội Đặc Nhiệm Siêu Đẳng - PAW Patrol: The Movie" href="https://phimchill.tv/info/doi-dac-nhiem-sieu-dang-pm9018" style="height: 133.875px;"> <img alt="Đội Đặc Nhiệm Siêu Đẳng - PAW Patrol: The Movie" src="https://img.phimchill.tv/images/info/paw-patrol-the-movie.jpg">
                                <h3>Đội Đặc Nhiệm Siêu Đẳng</h3> <i class="icon-play"></i>
                            </a> </li>
                        <li class="item small"> <span class="label">
                                <div class="status">HD-Vietsub</div>
                            </span> <a title="Bạn Tôi Chết Cả Rồi - All My Friends Are Dead" href="https://phimchill.tv/info/ban-toi-chet-ca-roi-pm9017" style="height: 133.875px;"> <img alt="Bạn Tôi Chết Cả Rồi - All My Friends Are Dead" src="https://img.phimchill.tv/images/info/all-my-friends-are-dead.jpg">
                                <h3>Bạn Tôi Chết Cả Rồi</h3> <i class="icon-play"></i>
                            </a> </li>
                        <li class="item small"> <span class="label">
                                <div class="status">HD-Vietsub</div>
                            </span> <a title="Mùa Hè Chưa Tới - Upcoming Summer" href="https://phimchill.tv/info/mua-he-chua-toi-pm9016" style="height: 133.875px;"> <img alt="Mùa Hè Chưa Tới - Upcoming Summer" src="https://img.phimchill.tv/images/info/upcoming-summer.jpg">
                                <h3>Mùa Hè Chưa Tới</h3> <i class="icon-play"></i>
                            </a> </li>
                        <li class="item small"> <span class="label">
                                <div class="status">HD-Vietsub</div>
                            </span> <a title="Nuốt Trôi - Swallow" href="https://phimchill.tv/info/nuot-troi-pm9015" style="height: 133.875px;"> <img alt="Nuốt Trôi - Swallow" src="https://img.phimchill.tv/images/info/swallow.jpg">
                                <h3>Nuốt Trôi</h3> <i class="icon-play"></i>
                            </a> </li>
                        <li class="item small"> <span class="label">
                                <div class="status">HD-Vietsub</div>
                            </span> <a title="Tây Du Ký Tái Thế Yêu Vương - Monkey King Reborn" href="https://phimchill.tv/info/tay-du-ky-tai-the-yeu-vuong-pm9010" style="height: 133.875px;"> <img alt="Tây Du Ký Tái Thế Yêu Vương - Monkey King Reborn" src="https://img.phimchill.tv/images/info/monkey-king-reborn.jpg">
                                <h3>Tây Du Ký Tái Thế Yêu Vương</h3> <i class="icon-play"></i>
                            </a> </li>
                        <li class="item small"> <span class="label">
                                <div class="status">HD-Vietsub</div>
                            </span> <a title="Địa Ngục Đẫm Máu - Bloody Hell" href="https://phimchill.tv/info/dia-nguc-dam-mau-pm9009" style="height: 133.875px;"> <img alt="Địa Ngục Đẫm Máu - Bloody Hell" src="https://img.phimchill.tv/images/info/bloody-hell.jpg">
                                <h3>Địa Ngục Đẫm Máu</h3> <i class="icon-play"></i>
                            </a> </li>
                        <li class="item small"> <span class="label">
                                <div class="status">HD-Vietsub</div>
                            </span> <a title="Pháp Y Tống Từ 2 : Tứ Tông Tội - Work in Vain Song Ci" href="https://phimchill.tv/info/phap-y-tong-tu-2-tu-tong-toi-pm9008" style="height: 133.875px;"> <img alt="Pháp Y Tống Từ 2 : Tứ Tông Tội - Work in Vain Song Ci" src="https://img.phimchill.tv/images/info/work-in-vain-song-ci.jpg">
                                <h3>Pháp Y Tống Từ 2 : Tứ Tông Tội</h3> <i class="icon-play"></i>
                            </a> </li>
                        <li class="item small"> <span class="label">
                                <div class="status">HD-Vietsub</div>
                            </span> <a title="Pháp Y Tống Từ - Forensic Medicine Song Ci" href="https://phimchill.tv/info/phap-y-tong-tu-pm9007" style="height: 133.875px;"> <img alt="Pháp Y Tống Từ - Forensic Medicine Song Ci" src="https://img.phimchill.tv/images/info/forensic-medicine-song-ci.jpg">
                                <h3>Pháp Y Tống Từ</h3> <i class="icon-play"></i>
                            </a> </li>
                        <li class="item small"> <span class="label">
                                <div class="status">HD-Vietsub</div>
                            </span> <a title="Thầy Cúng / Bà Đồng - The Medium" href="https://phimchill.tv/info/thay-cung-ba-dong-pm9006" style="height: 133.875px;"> <img alt="Thầy Cúng / Bà Đồng - The Medium" src="https://img.phimchill.tv/images/info/the-medium.jpg">
                                <h3>Thầy Cúng / Bà Đồng</h3> <i class="icon-play"></i>
                            </a> </li>
                        <li class="item small"> <span class="label">
                                <div class="status">HD-Vietsub</div>
                            </span> <a title="Thủ Phạm - The Guilty" href="https://phimchill.tv/info/thu-pham-pm9001" style="height: 133.875px;"> <img alt="Thủ Phạm - The Guilty" src="https://img.phimchill.tv/images/info/the-guilty.jpg">
                                <h3>Thủ Phạm</h3> <i class="icon-play"></i>
                            </a> </li>
                        <li class="item small"> <span class="label">Hoàn Tất(Vietsub Thuyết Minh)</span> <a title="Công Chúa Yakuza - Yakuza Princess" href="https://phimchill.tv/info/cong-chua-yakuza-pm9000" style="height: 133.875px;"> <img alt="Công Chúa Yakuza - Yakuza Princess" src="https://img.phimchill.tv/images/info/yakuza-princess.jpg">
                                <h3>Công Chúa Yakuza</h3> <i class="icon-play"></i>
                            </a> </li>
                        <li class="item small"> <span class="label">
                                <div class="status">HD-Vietsub</div>
                            </span> <a title="Con Lắc Tà Thuật - The Hypnosis" href="https://phimchill.tv/info/con-lac-ta-thuat-pm8999" style="height: 133.875px;"> <img alt="Con Lắc Tà Thuật - The Hypnosis" src="https://img.phimchill.tv/images/info/the-hypnosis.jpg">
                                <h3>Con Lắc Tà Thuật</h3> <i class="icon-play"></i>
                            </a> </li>
                        <li class="item small"> <span class="label">
                                <div class="status">HD-Vietsub</div>
                            </span> <a title="Tổng Đài Truy Vết - The Guilty" href="https://phimchill.tv/info/tong-dai-truy-vet-pm8998" style="height: 133.875px;"> <img alt="Tổng Đài Truy Vết - The Guilty" src="https://img.phimchill.tv/images/info/the-guilty-2021.jpg">
                                <h3>Tổng Đài Truy Vết</h3> <i class="icon-play"></i>
                            </a> </li>
                        <li class="item small"> <span class="label">
                                <div class="status">HD-Vietsub</div>
                            </span> <a title="Yêu Cô Bạn Thân - Friendzone 2021" href="https://phimchill.tv/info/yeu-co-ban-than-pm8997" style="height: 133.875px;"> <img alt="Yêu Cô Bạn Thân - Friendzone 2021" src="https://img.phimchill.tv/images/info/friendzone-2021.jpg">
                                <h3>Yêu Cô Bạn Thân</h3> <i class="icon-play"></i>
                            </a> </li>
                        <li class="item small"> <span class="label">
                                <div class="status">HD-Vietsub</div>
                            </span> <a title="Anh Ấy Là Tất Cả - Hes All That" href="https://phimchill.tv/info/anh-ay-la-tat-ca-pm8996" style="height: 133.875px;"> <img alt="Anh Ấy Là Tất Cả - Hes All That" src="https://img.phimchill.tv/images/info/hes-all-that.jpg">
                                <h3>Anh Ấy Là Tất Cả</h3> <i class="icon-play"></i>
                            </a> </li>
                    </ul>
                    <div class="clear"></div>
                    <div class="pagination">
                        <ul>
                            <li><a rel="nofollow" class="current">1</a></li>
                            <li><a href="https://phimchill.tv/list/phim-le/page-2/">2</a></li>
                            <li><a href="https://phimchill.tv/list/phim-le/page-3/">3</a></li>
                            <li><a href="https://phimchill.tv/list/phim-le/page-4/">4</a></li>
                            <li><a href="https://phimchill.tv/list/phim-le/page-5/">5</a></li>
                            <li><a title="Tiếp" href="https://phimchill.tv/list/phim-le/page-2/">→</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>