.header {
    border: 1px solid red;
    background: #121212;
    .container {
        border: 1px solid red;
        .logo {
            margin: 0;
            float: left;
            width: 13%;
            max-width: 200px;
            img {
                height: 60px;
                // top right bottom left
                padding: 12px 6px 12px 4px;
            }
        }
        #main-menu {
            border: 1px solid red;
            list-style: none;
            margin-top: 10px;
            display: flex;
            li {
                // top right bottom left
                padding: 5px 2px 5px 20px;
                a {
                    text-transform: uppercase;
                    color: white;
                }
            }
        }
    }
}
