<div class="header">
    <div class="container">
        <div class="logo">
            <a href="#" title="WebPhim">
                <img src="https://phimchill.net/dev/images/logo.png" alt="phimmoi" />
            </a>
        </div>
        <ul id="main-menu">
            <li>
                <a title="PhimMoi" href="#">PhimMoi</a>
            </li>
            <li>
                <a title="PhimMoi" href="#">Phim Lẻ</a>
            </li>
            <li>
                <a title="PhimMoi" href="#">Phim Bộ</a>
            </li>
            <li>
                <a title="PhimMoi" href="#">Thể Loại</a>
            </li>
            <li>
                <a title="PhimMoi" href="#">Quốc Gia</a>
            </li>
            <li>
                <a title="PhimMoi" href="#">Năm Phát Hành</a>
            </li>
            <li>
                <a title="PhimMoi" href="#">Phim Chiếu Rạp</a>
            </li>
            <li>
                <a title="PhimMoi" href="#">Trailer</a>
            </li>
            <li>
                <a title="PhimMoi" href="#">Top Phim</a>
            </li>
        </ul>
        <form></form>
    </div>
</div>