<app-header></app-header>
<div id="main-content">
    <div id="content">
        <div class="container">
            <div class="film-related">
                <div class="heading">
                    <p class="caption">Phim đề cử</p>
                </div>
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide>
                        <div class="item">
                            <span>2015</span>
                            <a title="12 Chú Vịt Vàng - 12 Gloden Ducks" href="#">
                                <img src="https://img.phimchill.net/images/film/12-chu-vit-vang-201605540.jpg"
                                    alt="12 Chú Vịt Vàng - 12 Golden Ducks " />
                                <p>12 Chú Vịt Vàng - 12 Golden Ducks</p>
                            </a>
                            <a href="#" class="icon-play"></a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="item">
                            <span>2016</span>
                            <a title="12 Con Giáp - Chinese Zodiac" href="#">
                                <img src="https://img.phimchill.net/images/film/12-con-giap-201605256.jpg"
                                    alt="12 Chú Vịt Vàng - 12 Golden Ducks " />
                                <p>12 Con Giáp - Chinese Zodiac</p>
                            </a>
                            <a href="#" class="icon-play"></a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="item">
                            <span>2017</span>
                            <a title="12 Con Khỉ Phần 2 - 12 Monkeys 2" href="#">
                                <img src="https://img.phimchill.net/images/film/12-con-khi-phan-2-201608114.jpg"
                                    alt="12 Chú Vịt Vàng - 12 Golden Ducks " />
                                <p>12 Con Khỉ Phần 2 - 12 Monkeys 2</p>
                            </a>
                            <a href="#" class="icon-play"></a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="item">
                            <span>2018</span>
                            <a title="Ký Ức Thức Tỉnh - Vice" href="#">
                                <img src="https://img.phimchill.net/images/film/ky-uc-thuc-tinh-vice-201602637.jpg"
                                    alt="12 Chú Vịt Vàng - 12 Golden Ducks " />
                                <p>Ký Ức Thức Tỉnh - Vice</p>
                            </a>
                            <a href="#" class="icon-play"></a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="item">
                            <span>2019</span>
                            <a title="Cuộc Chiến Ngai Vàng 2 - Game of Thrones" href="#">
                                <img src="https://img.phimchill.net/images/film/phim-cuoc-chien-ngai-vang-2-201611315.jpg"
                                    alt="12 Chú Vịt Vàng - 12 Golden Ducks " />
                                <p>Cuộc Chiến Ngai Vàng 2 - Game of Thrones</p>
                            </a>
                            <a href="#" class="icon-play"></a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="item">
                            <span>2020</span>
                            <a title="Thấy (Phần 2) - See (Season 2)" href="#">
                                <img src="https://img.phimchill.net/images/info/see-season-2.jpg"
                                    alt="12 Chú Vịt Vàng - 12 Golden Ducks " />
                                <p>Thấy (Phần 2) - See (Season 2)</p>
                            </a>
                            <a href="#" class="icon-play"></a>
                        </div>
                    </ng-template>
                    <div class="owl-nav ng-star-inserted">
                        <div class="owl-prev">
                            <p>Bùn</p>
                        </div>
                        <div class="owl-next">
                            <p>Bùn2</p>
                        </div>
                    </div>
                </owl-carousel-o>
            </div>
            <div class="block">
                <div class="heading">
                    <a href="/list/phim-hot">
                        <h2 class="caption">Phim Thịnh Hành</h2>
                    </a>
                    <ul class="sub-heading">
                        <li><a rel="nofollow" class="tab-filter" data-href="le-thinh-hanh"
                                href="javascript:void(0)">Phim Lẻ Thịnh Hành</a></li>
                        <li><a rel="nofollow" class="tab-filter" data-href="bo-thinh-hanh"
                                href="javascript:void(0)">Phim Bộ Thịnh Hành</a></li>
                    </ul>
                    <a class="see-more" href="list/phim-hot">
                        Xem tất cả <i class="fa fa fa-caret-right"></i>
                    </a>
                </div>
                <ul class="list-film horizontal">
                    <li class="item large">
                        <span class="label">Tập 9-Vietsub</span>
                        <a title="Trò chơi con mực - Squid Game"
                            href="https://phimchill.tv/info/tro-choi-con-muc-pm8977">
                            <img width="485px" height="273px" class="img-1 lazyload" alt="Trò chơi con mực - Squid Game"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/squid-game.jpg?w=800&amp;h=450"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/squid-game.jpg?w=800&amp;h=450">
                            <p>Trò chơi con mực</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">Tập 9-Vietsub</span>
                        <a title="Chuyện gì sẽ xảy ra nếu như..? - What If...?"
                            href="https://phimchill.tv/info/chuyen-gi-se-xay-ra-neu-nhu-pm8926"> <img width="238px"
                                height="134px" class="img-2 lazyload" alt="Chuyện gì sẽ xảy ra nếu như..? - What If...?"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/what-if.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/what-if.jpg?w=500&amp;h=281">
                            <p>Chuyện gì sẽ xảy ra nếu như..?</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">HD-Vietsub</span>
                        <a title="Nộ Hỏa - Raging Fire" href="https://phimchill.tv/info/no-hoa-pm9030"> <img
                                width="238px" height="134px" class="img-2 lazyload" alt="Nộ Hỏa - Raging Fire"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/raging-fire.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/raging-fire.jpg?w=500&amp;h=281">
                            <p>Nộ Hỏa</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">HD-Vietsub</span>
                        <a title="Thầy Cúng / Bà Đồng - The Medium"
                            href="https://phimchill.tv/info/thay-cung-ba-dong-pm9006"> <img width="238px" height="134px"
                                class="img-2 lazyload" alt="Thầy Cúng / Bà Đồng - The Medium"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/the-medium.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/the-medium.jpg?w=500&amp;h=281">
                            <p>Thầy Cúng / Bà Đồng</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">Tập 12-Vietsub</span>
                        <a title="Điệu Cha-Cha-Cha Làng Biển - Hometown Cha-Cha-Cha"
                            href="https://phimchill.tv/info/dieu-cha-cha-cha-lang-bien-pm8980"> <img width="238px"
                                height="134px" class="img-2 lazyload"
                                alt="Điệu Cha-Cha-Cha Làng Biển - Hometown Cha-Cha-Cha"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/hometown-cha-cha-cha.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/hometown-cha-cha-cha.jpg?w=500&amp;h=281">
                            <p>Điệu Cha-Cha-Cha Làng Biển</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">HD-Vietsub</span>
                        <a title="Giải Cứu Guy - Free Guy" href="https://phimchill.tv/info/giai-cuu-guy-pm8988"> <img
                                width="238px" height="134px" class="img-2 lazyload" alt="Giải Cứu Guy - Free Guy"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/free-guy.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/free-guy.jpg?w=500&amp;h=281">
                            <p>Giải Cứu Guy</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">Tập 24 Vietsub</span>
                        <a title="Quốc Tử Giám Có Một Nữ Đệ Tử - A Female Student Arrives at the Imperial College"
                            href="https://phimchill.tv/info/quoc-tu-giam-co-mot-nu-de-tu-pm8100"> <img width="238px"
                                height="134px" class="img-2 lazyload"
                                alt="Quốc Tử Giám Có Một Nữ Đệ Tử - A Female Student Arrives at the Imperial College"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/a-female-student-arrives-at-the-imperial-college.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/a-female-student-arrives-at-the-imperial-college.jpg?w=500&amp;h=281">
                            <p>Quốc Tử Giám Có Một Nữ Đệ Tử</p> <i class="icon-play"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="block">
                <div class="heading">
                    <a href="genre/phim-chieu-rap/">
                        <h2 class="caption">Phim chiếu rạp</h2>
                    </a>
                    <ul class="sub-heading">
                        <li><a rel="nofollow" class="tab-filter" data-href="chieu-rap-2021"
                                href="javascript:void(0)">2021</a></li>
                        <li><a rel="nofollow" class="tab-filter" data-href="chieu-rap-2020"
                                href="javascript:void(0)">2020</a></li>
                        <li><a rel="nofollow" class="tab-filter" data-href="chieu-rap-2019"
                                href="javascript:void(0)">2019</a></li>
                        <li><a rel="nofollow" class="tab-filter" data-href="chieu-rap-2018"
                                href="javascript:void(0)">2018</a></li>
                    </ul>
                    <a class="see-more" href="genre/phim-chieu-rap/">Xem tất cả <i class="fa fa fa-caret-right"></i></a>
                </div>
                <ul class="list-film horizontal">
                    <li class="item large">
                        <span class="label">HD VietSub + Thuyết Minh</span>
                        <a title="Kong: Đảo Đầu Lâu - Kong: Skull Island "
                            href="https://phimchill.tv/info/kong-dao-dau-lau-pm1048"> <img width="485px" height="273px"
                                class="img-1 lazyload" alt="Kong: Đảo Đầu Lâu - Kong: Skull Island "
                                data-src="https://i3.wp.com/img.phimchill.tv/images/film/kong-dao-dau-lau-201703603.png?w=800&amp;h=450"
                                src="https://i3.wp.com/img.phimchill.tv/images/film/kong-dao-dau-lau-201703603.png?w=800&amp;h=450">
                            <p>Kong: Đảo Đầu Lâu</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">HD-Vietsub</span>
                        <a title="Ngôi Nhà Về Đêm - The Night House"
                            href="https://phimchill.tv/info/ngoi-nha-ve-dem-pm9033"> <img width="238px" height="134px"
                                class="img-1 lazyload" alt="Ngôi Nhà Về Đêm - The Night House"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/the-night-house.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/the-night-house.jpg?w=500&amp;h=281">
                            <p>Ngôi Nhà Về Đêm</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">Full HD-Vietsub</span>
                        <a title="Natra Ma Đồng Giáng Thế - Nezha Zhi Motong Jiangshi"
                            href="https://phimchill.tv/info/natra-ma-dong-giang-the-pm7660"> <img width="238px"
                                height="134px" class="img-1 lazyload"
                                alt="Natra Ma Đồng Giáng Thế - Nezha Zhi Motong Jiangshi"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/nezha-zhi-motong-jiangshi.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/nezha-zhi-motong-jiangshi.jpg?w=500&amp;h=281">
                            <p>Natra Ma Đồng Giáng Thế</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">HD-Vietsub</span>
                        <a title="Nộ Hỏa - Raging Fire" href="https://phimchill.tv/info/no-hoa-pm9030"> <img
                                width="238px" height="134px" class="img-1 lazyload" alt="Nộ Hỏa - Raging Fire"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/raging-fire.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/raging-fire.jpg?w=500&amp;h=281">
                            <p>Nộ Hỏa</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">HD-Thuyết Minh</span>
                        <a title="Nhiệm Vụ Bí Mật - Cliff Walkers"
                            href="https://phimchill.tv/info/nhiem-vu-bi-mat-pm9028"> <img width="238px" height="134px"
                                class="img-1 lazyload" alt="Nhiệm Vụ Bí Mật - Cliff Walkers"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/cliff-walkers.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/cliff-walkers.jpg?w=500&amp;h=281">
                            <p>Nhiệm Vụ Bí Mật</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">HD-Vietsub</span>
                        <a title="Bạch Xà 2: Thanh Xà Kiếp Khởi - White Snake 2: Green Snake"
                            href="https://phimchill.tv/info/bach-xa-2-thanh-xa-kiep-khoi-pm9027"> <img width="238px"
                                height="134px" class="img-1 lazyload"
                                alt="Bạch Xà 2: Thanh Xà Kiếp Khởi - White Snake 2: Green Snake"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/white-snake-2-green-snake.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/white-snake-2-green-snake.jpg?w=500&amp;h=281">
                            <p>Bạch Xà 2: Thanh Xà Kiếp Khởi</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">HD-Vietsub</span>
                        <a title="Đội Đặc Nhiệm Siêu Đẳng - PAW Patrol: The Movie"
                            href="https://phimchill.tv/info/doi-dac-nhiem-sieu-dang-pm9018"> <img width="238px"
                                height="134px" class="img-1 lazyload"
                                alt="Đội Đặc Nhiệm Siêu Đẳng - PAW Patrol: The Movie"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/paw-patrol-the-movie.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/paw-patrol-the-movie.jpg?w=500&amp;h=281">
                            <p>Đội Đặc Nhiệm Siêu Đẳng</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">HD-Vietsub</span>
                        <a title="Tây Du Ký Tái Thế Yêu Vương - Monkey King Reborn"
                            href="https://phimchill.tv/info/tay-du-ky-tai-the-yeu-vuong-pm9010"> <img width="238px"
                                height="134px" class="img-1 lazyload"
                                alt="Tây Du Ký Tái Thế Yêu Vương - Monkey King Reborn"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/monkey-king-reborn.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/monkey-king-reborn.jpg?w=500&amp;h=281">
                            <p>Tây Du Ký Tái Thế Yêu Vương</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">HD-Vietsub</span>
                        <a title="Địa Ngục Đẫm Máu - Bloody Hell"
                            href="https://phimchill.tv/info/dia-nguc-dam-mau-pm9009"> <img width="238px" height="134px"
                                class="img-1 lazyload" alt="Địa Ngục Đẫm Máu - Bloody Hell"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/bloody-hell.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/bloody-hell.jpg?w=500&amp;h=281">
                            <p>Địa Ngục Đẫm Máu</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">HD-Vietsub</span>
                        <a title="Thầy Cúng / Bà Đồng - The Medium"
                            href="https://phimchill.tv/info/thay-cung-ba-dong-pm9006"> <img width="238px" height="134px"
                                class="img-1 lazyload" alt="Thầy Cúng / Bà Đồng - The Medium"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/the-medium.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/the-medium.jpg?w=500&amp;h=281">
                            <p>Thầy Cúng / Bà Đồng</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">HD-Vietsub</span>
                        <a title="Con Lắc Tà Thuật - The Hypnosis"
                            href="https://phimchill.tv/info/con-lac-ta-thuat-pm8999"> <img width="238px" height="134px"
                                class="img-1 lazyload" alt="Con Lắc Tà Thuật - The Hypnosis"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/the-hypnosis.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/the-hypnosis.jpg?w=500&amp;h=281">
                            <p>Con Lắc Tà Thuật</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">HD-Vietsub</span>
                        <a title="Liên Minh Công Lý: Phiên bản của Zack Snyder - Zack Snyder*s Justice League"
                            href="https://phimchill.tv/info/lien-minh-cong-ly-phien-ban-cua-zack-snyder-pm8993"> <img
                                width="238px" height="134px" class="img-1 lazyload"
                                alt="Liên Minh Công Lý: Phiên bản của Zack Snyder - Zack Snyder*s Justice League"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/zack-snyders-justice-league.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/zack-snyders-justice-league.jpg?w=500&amp;h=281">
                            <p>Liên Minh Công Lý: Phiên bản của Zack Snyder</p> <i class="icon-play"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="block">
                <div class="heading">
                    <a href="list/phim-bo/">
                        <h2 class="caption">Phim bộ mới cập nhật</h2>
                    </a>
                    <ul class="sub-heading">
                        <li><a rel="nofollow" class="tab-filter" data-href="han-quoc" href="javascript:void(0)">Hàn
                                Quốc</a></li>
                        <li><a rel="nofollow" class="tab-filter" data-href="trung-quoc" href="javascript:void(0)">Trung
                                Quốc</a></li>
                        <li><a rel="nofollow" class="tab-filter" data-href="phim-my" href="javascript:void(0)">Âu -
                                Mỹ</a></li>
                        <li><a rel="nofollow" class="tab-filter" data-href="phim-bo-full" href="javascript:void(0)">Phim
                                Bộ Full</a></li>
                    </ul>
                    <a class="see-more" href="list/phim-bo/">Xem tất cả <i class="fa fa fa-caret-right"></i></a>
                </div>
                <ul class="list-film horizontal">
                    <li class="item large">
                        <span class="label">Tập 24 Vietsub</span>
                        <a title="Quốc Tử Giám Có Một Nữ Đệ Tử - A Female Student Arrives at the Imperial College"
                            href="https://phimchill.tv/info/quoc-tu-giam-co-mot-nu-de-tu-pm8100"> <img width="485px"
                                height="273px" class="img-1 lazyload"
                                alt="Quốc Tử Giám Có Một Nữ Đệ Tử - A Female Student Arrives at the Imperial College"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/a-female-student-arrives-at-the-imperial-college.jpg?w=800&amp;h=450"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/a-female-student-arrives-at-the-imperial-college.jpg?w=800&amp;h=450">
                            <p>Quốc Tử Giám Có Một Nữ Đệ Tử</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">Tập 7 Vietsub</span>
                        <a title="Sáng Như Trăng Trong Mây - Bright As the Moon"
                            href="https://phimchill.tv/info/sang-nhu-trang-trong-may-pm9022"> <img width="238px"
                                height="134px" class="img-2 lazyload"
                                alt="Sáng Như Trăng Trong Mây - Bright As the Moon"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/bright-as-the-moon.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/bright-as-the-moon.jpg?w=500&amp;h=281">
                            <p>Sáng Như Trăng Trong Mây</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">Hoàn Tất(24/24)</span>
                        <a title="Trường An Như Cố (Châu Sinh Như Cố) - One And Only"
                            href="https://phimchill.tv/info/truong-an-nhu-co-chau-sinh-nhu-co-pm8969"> <img
                                width="238px" height="134px" class="img-2 lazyload"
                                alt="Trường An Như Cố (Châu Sinh Như Cố) - One And Only"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/one-and-only.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/one-and-only.jpg?w=500&amp;h=281">
                            <p>Trường An Như Cố (Châu Sinh Như Cố)</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">Tập 9-Vietsub</span>
                        <a title="Chuyện gì sẽ xảy ra nếu như..? - What If...?"
                            href="https://phimchill.tv/info/chuyen-gi-se-xay-ra-neu-nhu-pm8926"> <img width="238px"
                                height="134px" class="img-2 lazyload" alt="Chuyện gì sẽ xảy ra nếu như..? - What If...?"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/what-if.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/what-if.jpg?w=500&amp;h=281">
                            <p>Chuyện gì sẽ xảy ra nếu như..?</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">Tập 7-Vietsub</span>
                        <a title="Thánh Lễ Ác Mộng - Midnight Mass"
                            href="https://phimchill.tv/info/thanh-le-ac-mong-pm9029"> <img width="238px" height="134px"
                                class="img-2 lazyload" alt="Thánh Lễ Ác Mộng - Midnight Mass"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/midnight-mass.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/midnight-mass.jpg?w=500&amp;h=281">
                            <p>Thánh Lễ Ác Mộng</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">Tập 40-Vietsub</span>
                        <a title="Hào Quang - The Justice" href="https://phimchill.tv/info/hao-quang-pm8989"> <img
                                width="238px" height="134px" class="img-2 lazyload" alt="Hào Quang - The Justice"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/the-justice-1.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/the-justice-1.jpg?w=500&amp;h=281">
                            <p>Hào Quang</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">Tập 12-Vietsub</span>
                        <a title="Điệu Cha-Cha-Cha Làng Biển - Hometown Cha-Cha-Cha"
                            href="https://phimchill.tv/info/dieu-cha-cha-cha-lang-bien-pm8980"> <img width="238px"
                                height="134px" class="img-2 lazyload"
                                alt="Điệu Cha-Cha-Cha Làng Biển - Hometown Cha-Cha-Cha"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/hometown-cha-cha-cha.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/hometown-cha-cha-cha.jpg?w=500&amp;h=281">
                            <p>Điệu Cha-Cha-Cha Làng Biển</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">Tập 8-Vietsub</span>
                        <a title="Xác Sống Phần 11 - The Walking Dead Season 11"
                            href="https://phimchill.tv/info/xac-song-phan-11-pm8952"> <img width="238px" height="134px"
                                class="img-2 lazyload" alt="Xác Sống Phần 11 - The Walking Dead Season 11"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/the-walking-dead-season-11.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/the-walking-dead-season-11.jpg?w=500&amp;h=281">
                            <p>Xác Sống Phần 11</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">Tập 13-Vietsub</span>
                        <a title="Tập Làm Người Xấu (Phần 4) - Breaking Bad (Season 4)"
                            href="https://phimchill.tv/info/tap-lam-nguoi-xau-phan-4-pm9014"> <img width="238px"
                                height="134px" class="img-2 lazyload"
                                alt="Tập Làm Người Xấu (Phần 4) - Breaking Bad (Season 4)"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/breaking-bad-season-4.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/breaking-bad-season-4.jpg?w=500&amp;h=281">
                            <p>Tập Làm Người Xấu (Phần 4)</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">Tập 13-Vietsub</span>
                        <a title="Tập Làm Người Xấu (Phần 3) - Breaking Bad (Season 3)"
                            href="https://phimchill.tv/info/tap-lam-nguoi-xau-phan-3-pm9013"> <img width="238px"
                                height="134px" class="img-2 lazyload"
                                alt="Tập Làm Người Xấu (Phần 3) - Breaking Bad (Season 3)"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/breaking-bad-season-3.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/breaking-bad-season-3.jpg?w=500&amp;h=281">
                            <p>Tập Làm Người Xấu (Phần 3)</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">Tập 13-Vietsub</span>
                        <a title="Tập Làm Người Xấu (Phần 2) - Breaking Bad (Season 2)"
                            href="https://phimchill.tv/info/tap-lam-nguoi-xau-phan-2-pm9012"> <img width="238px"
                                height="134px" class="img-2 lazyload"
                                alt="Tập Làm Người Xấu (Phần 2) - Breaking Bad (Season 2)"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/breaking-bad-season-2.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/breaking-bad-season-2.jpg?w=500&amp;h=281">
                            <p>Tập Làm Người Xấu (Phần 2)</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">Hoàn Tất (7/7)</span>
                        <a title="Tập Làm Người Xấu (Phần 1) - Breaking Bad (Season 1)"
                            href="https://phimchill.tv/info/tap-lam-nguoi-xau-phan-1-pm9011"> <img width="238px"
                                height="134px" class="img-2 lazyload"
                                alt="Tập Làm Người Xấu (Phần 1) - Breaking Bad (Season 1)"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/breaking-bad-season-1.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/breaking-bad-season-1.jpg?w=500&amp;h=281">
                            <p>Tập Làm Người Xấu (Phần 1)</p> <i class="icon-play"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="block">
                <div class="heading">
                    <a href="list/phim-le/">
                        <h2 class="caption">Phim lẻ mới cập nhật</h2>
                    </a>
                    <ul class="sub-heading">
                        <li><a rel="nofollow" class="tab-filter" data-href="hanh-dong" href="javascript:void(0)">Hành
                                động</a></li>
                        <li><a rel="nofollow" class="tab-filter" data-href="hoat-hinh" href="javascript:void(0)">Hoạt
                                hình</a></li>
                        <li><a rel="nofollow" class="tab-filter" data-href="kinh-di" href="javascript:void(0)">Kinh
                                dị</a></li>
                        <li><a rel="nofollow" class="tab-filter" data-href="hai-huoc" href="javascript:void(0)">Hài
                                hước</a></li>
                    </ul>
                    <a class="see-more" href="list/phim-le/">Xem tất cả <i class="fa fa fa-caret-right"></i></a>
                </div>
                <ul class="list-film horizontal">
                    <li class="item large">
                        <span class="label">HD VietSub + Thuyết Minh</span>
                        <a title="Kong: Đảo Đầu Lâu - Kong: Skull Island "
                            href="https://phimchill.tv/info/kong-dao-dau-lau-pm1048"> <img width="485px" height="273px"
                                class="img-1 lazyload" alt="Kong: Đảo Đầu Lâu - Kong: Skull Island "
                                data-src="https://i3.wp.com/img.phimchill.tv/images/film/kong-dao-dau-lau-201703603.png?w=800&amp;h=450"
                                src="https://i3.wp.com/img.phimchill.tv/images/film/kong-dao-dau-lau-201703603.png?w=800&amp;h=450">
                            <p>Kong: Đảo Đầu Lâu</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">HD-Vietsub</span>
                        <a title="Thủy Quái 2: Rừng Gỗ Mun - Water Monster 2"
                            href="https://phimchill.tv/info/thuy-quai-2-rung-go-mun-pm9034"> <img width="238px"
                                height="134px" class="img-2 lazyload" alt="Thủy Quái 2: Rừng Gỗ Mun - Water Monster 2"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/water-monster-2.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/water-monster-2.jpg?w=500&amp;h=281">
                            <p>Thủy Quái 2: Rừng Gỗ Mun</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">HD-Vietsub</span>
                        <a title="Ngôi Nhà Về Đêm - The Night House"
                            href="https://phimchill.tv/info/ngoi-nha-ve-dem-pm9033"> <img width="238px" height="134px"
                                class="img-2 lazyload" alt="Ngôi Nhà Về Đêm - The Night House"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/the-night-house.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/the-night-house.jpg?w=500&amp;h=281">
                            <p>Ngôi Nhà Về Đêm</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">HD-Vietsub</span>
                        <a title="Xanh Thẳm - Grand Blue [Live Action]"
                            href="https://phimchill.tv/info/xanh-tham-pm9032"> <img width="238px" height="134px"
                                class="img-2 lazyload" alt="Xanh Thẳm - Grand Blue [Live Action]"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/grand-blue-live-action.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/grand-blue-live-action.jpg?w=500&amp;h=281">
                            <p>Xanh Thẳm</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">HD-Vietsub</span>
                        <a title="Có Ai Đó Trong Ngôi Nhà - Theres Someone Inside Your House"
                            href="https://phimchill.tv/info/co-ai-do-trong-ngoi-nha-pm9031"> <img width="238px"
                                height="134px" class="img-2 lazyload"
                                alt="Có Ai Đó Trong Ngôi Nhà - Theres Someone Inside Your House"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/theres-someone-inside-your-house.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/theres-someone-inside-your-house.jpg?w=500&amp;h=281">
                            <p>Có Ai Đó Trong Ngôi Nhà</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">Full HD-Vietsub</span>
                        <a title="Natra Ma Đồng Giáng Thế - Nezha Zhi Motong Jiangshi"
                            href="https://phimchill.tv/info/natra-ma-dong-giang-the-pm7660"> <img width="238px"
                                height="134px" class="img-2 lazyload"
                                alt="Natra Ma Đồng Giáng Thế - Nezha Zhi Motong Jiangshi"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/nezha-zhi-motong-jiangshi.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/nezha-zhi-motong-jiangshi.jpg?w=500&amp;h=281">
                            <p>Natra Ma Đồng Giáng Thế</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">HD-Vietsub</span>
                        <a title="Nộ Hỏa - Raging Fire" href="https://phimchill.tv/info/no-hoa-pm9030"> <img
                                width="238px" height="134px" class="img-2 lazyload" alt="Nộ Hỏa - Raging Fire"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/raging-fire.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/raging-fire.jpg?w=500&amp;h=281">
                            <p>Nộ Hỏa</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">HD-Thuyết Minh</span>
                        <a title="Nhiệm Vụ Bí Mật - Cliff Walkers"
                            href="https://phimchill.tv/info/nhiem-vu-bi-mat-pm9028"> <img width="238px" height="134px"
                                class="img-2 lazyload" alt="Nhiệm Vụ Bí Mật - Cliff Walkers"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/cliff-walkers.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/cliff-walkers.jpg?w=500&amp;h=281">
                            <p>Nhiệm Vụ Bí Mật</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">HD-Vietsub</span>
                        <a title="Bạch Xà 2: Thanh Xà Kiếp Khởi - White Snake 2: Green Snake"
                            href="https://phimchill.tv/info/bach-xa-2-thanh-xa-kiep-khoi-pm9027"> <img width="238px"
                                height="134px" class="img-2 lazyload"
                                alt="Bạch Xà 2: Thanh Xà Kiếp Khởi - White Snake 2: Green Snake"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/white-snake-2-green-snake.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/white-snake-2-green-snake.jpg?w=500&amp;h=281">
                            <p>Bạch Xà 2: Thanh Xà Kiếp Khởi</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">HD-Vietsub</span>
                        <a title="Linh Hồn Của Buổi Tiệc - Afterlife of the Party"
                            href="https://phimchill.tv/info/linh-hon-cua-buoi-tiec-pm9026"> <img width="238px"
                                height="134px" class="img-2 lazyload"
                                alt="Linh Hồn Của Buổi Tiệc - Afterlife of the Party"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/afterlife-of-the-party.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/afterlife-of-the-party.jpg?w=500&amp;h=281">
                            <p>Linh Hồn Của Buổi Tiệc</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">HD-Vietsub</span>
                        <a title="Gọi Quỷ - DemoniC" href="https://phimchill.tv/info/goi-quy-pm9025"> <img width="238px"
                                height="134px" class="img-2 lazyload" alt="Gọi Quỷ - DemoniC"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/demonic.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/demonic.jpg?w=500&amp;h=281">
                            <p>Gọi Quỷ</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label">HD-Vietsub</span>
                        <a title="Kẻ Báo Thù Cuối Cùng - Last Man Down"
                            href="https://phimchill.tv/info/ke-bao-thu-cuoi-cung-pm9024"> <img width="238px"
                                height="134px" class="img-2 lazyload" alt="Kẻ Báo Thù Cuối Cùng - Last Man Down"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/last-man-down.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/last-man-down.jpg?w=500&amp;h=281">
                            <p>Kẻ Báo Thù Cuối Cùng</p> <i class="icon-play"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="block">
                <div class="heading">
                    <a href="genre/phim-sap-chieu/">
                        <h2 class="caption">Phim Sắp Chiếu</h2>
                    </a> <a class="see-more" href="genre/phim-sap-chieu/">Xem tất cả <i
                            class="fa fa fa-caret-right"></i></a>
                </div>
                <ul class="list-film horizontal">
                    <li class="item small">
                        <span class="label"></span>
                        <a title="Venom 2 : Đối mặt tử thù - Venom: Let There Be Carnage"
                            href="https://phimchill.tv/info/venom-2-doi-mat-tu-thu-pm8967"> <img width="238px"
                                height="134px" class="img-2 lazyload"
                                alt="Venom 2 : Đối mặt tử thù - Venom: Let There Be Carnage"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/venom-let-there-be-carnage.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/venom-let-there-be-carnage.jpg?w=500&amp;h=281">
                            <p>Venom 2 : Đối mặt tử thù</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label"></span>
                        <a title="Luyến Mộ - The Kings Affection" href="https://phimchill.tv/info/luyen-mo-pm9003"> <img
                                width="238px" height="134px" class="img-2 lazyload" alt="Luyến Mộ - The Kings Affection"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/the-kings-affection.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/the-kings-affection.jpg?w=500&amp;h=281">
                            <p>Luyến Mộ</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label"></span>
                        <a title="Shang-Chi và huyền thoại Thập Luân - Shang Chi and the Legend of the Ten Rings"
                            href="https://phimchill.tv/info/shang-chi-va-huyen-thoai-thap-luan-pm8968"> <img
                                width="238px" height="134px" class="img-2 lazyload"
                                alt="Shang-Chi và huyền thoại Thập Luân - Shang Chi and the Legend of the Ten Rings"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/shang-chi-and-the-legend-of-the-ten-rings.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/shang-chi-and-the-legend-of-the-ten-rings.jpg?w=500&amp;h=281">
                            <p>Shang-Chi và huyền thoại Thập Luân</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label"></span>
                        <a title="Khách Sạn Huyền Bí 4: Ma Cà Rồng Biến Hình - Hotel Transylvania: Transformania"
                            href="https://phimchill.tv/info/khach-san-huyen-bi-4-ma-ca-rong-bien-hinh-pm8963"> <img
                                width="238px" height="134px" class="img-2 lazyload"
                                alt="Khách Sạn Huyền Bí 4: Ma Cà Rồng Biến Hình - Hotel Transylvania: Transformania"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/hotel-transylvania-transformania.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/hotel-transylvania-transformania.jpg?w=500&amp;h=281">
                            <p>Khách Sạn Huyền Bí 4: Ma Cà Rồng Biến Hình</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label"></span>
                        <a title="Resident Evil: Thành Phố Raccoon - Resident Evil: Welcome to Raccoon City"
                            href="https://phimchill.tv/info/resident-evil-thanh-pho-raccoon-pm8951"> <img width="238px"
                                height="134px" class="img-2 lazyload"
                                alt="Resident Evil: Thành Phố Raccoon - Resident Evil: Welcome to Raccoon City"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/resident-evil-welcome-to-raccoon-city.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/resident-evil-welcome-to-raccoon-city.jpg?w=500&amp;h=281">
                            <p>Resident Evil: Thành Phố Raccoon</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label"></span>
                        <a title="Ở Rể: Cát Hưng Cao Chiếu - My Heroic Husband: The Movies"
                            href="https://phimchill.tv/info/o-re-cat-hung-cao-chieu-pm8950"> <img width="238px"
                                height="134px" class="img-2 lazyload"
                                alt="Ở Rể: Cát Hưng Cao Chiếu - My Heroic Husband: The Movies"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/my-heroic-husband-the-movies.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/my-heroic-husband-the-movies.jpg?w=500&amp;h=281">
                            <p>Ở Rể: Cát Hưng Cao Chiếu</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label"></span>
                        <a title="Kim Tịch Hà Tịch - Twisted Fate of Love"
                            href="https://phimchill.tv/info/kim-tich-ha-tich-full-pm8497"> <img width="238px"
                                height="134px" class="img-2 lazyload" alt="Kim Tịch Hà Tịch - Twisted Fate of Love"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/twisted-fate-of-love.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/twisted-fate-of-love.jpg?w=500&amp;h=281">
                            <p>Kim Tịch Hà Tịch</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label"></span>
                        <a title="Khun Phaen Huyền Thoại Bắt Đầu - Khun Phaen Begins"
                            href="https://phimchill.tv/info/khun-phaen-huyen-thoai-bat-dau-pm8702"> <img width="238px"
                                height="134px" class="img-2 lazyload"
                                alt="Khun Phaen Huyền Thoại Bắt Đầu - Khun Phaen Begins"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/khun-phaen-begins.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/khun-phaen-begins.jpg?w=500&amp;h=281">
                            <p>Khun Phaen Huyền Thoại Bắt Đầu</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label"></span>
                        <a title="Sơ Thần Là Em Cố Ý Quên Anh - Irreplaceable Love"
                            href="https://phimchill.tv/info/so-than-la-em-co-y-quen-anh-full-pm8515"> <img width="238px"
                                height="134px" class="img-2 lazyload"
                                alt="Sơ Thần Là Em Cố Ý Quên Anh - Irreplaceable Love"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/irreplaceable-love.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/irreplaceable-love.jpg?w=500&amp;h=281">
                            <p>Sơ Thần Là Em Cố Ý Quên Anh</p> <i class="icon-play"></i>
                        </a>
                    </li>
                    <li class="item small">
                        <span class="label"></span>
                        <a title="Lương Ngôn Tả Ý - Lie to Love"
                            href="https://phimchill.tv/info/luong-ngon-ta-y-pm8565"> <img width="238px" height="134px"
                                class="img-2 lazyload" alt="Lương Ngôn Tả Ý - Lie to Love"
                                data-src="https://i3.wp.com/img.phimchill.tv/images/info/lie-to-love.jpg?w=500&amp;h=281"
                                src="https://i3.wp.com/img.phimchill.tv/images/info/lie-to-love.jpg?w=500&amp;h=281">
                            <p>Lương Ngôn Tả Ý</p> <i class="icon-play"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-tag-box" id="tag-box">
    <p><a class="btn btn-dark btn-xs btn-rounded" title="quái vật" href="../tag/quái-vật/">quái vật</a> <a
            class="btn btn-dark btn-xs btn-rounded" title="xã hội đen" href="../tag/xã-hội-đen/">xã hội đen</a> <a
            class="btn btn-dark btn-xs btn-rounded" title="khủng bố" href="../tag/khủng-bố/">khủng bố</a> <a
            class="btn btn-dark btn-xs btn-rounded" title="phù thủy" href="../tag/phù-thủy/">phù thủy</a> <a
            class="btn btn-dark btn-xs btn-rounded" title="châu tinh trì" href="../tag/châu-tinh-trì/">châu tinh trì</a>
        <a class="btn btn-dark btn-xs btn-rounded" title="jackie chan" href="../tag/jackie-chan/">jackie chan</a> <a
            class="btn btn-dark btn-xs btn-rounded" title="thành long" href="../tag/thành-long/">thành long</a> <a
            class="btn btn-dark btn-xs btn-rounded" title="ma cà rồng" href="../tag/ma-cà-rồng/">ma cà rồng</a> <a
            class="btn btn-dark btn-xs btn-rounded" title="robot" href="../tag/robot/">robot</a> <a
            class="btn btn-dark btn-xs btn-rounded" title="người máy" href="../tag/người-máy/">người máy</a> <a
            class="btn btn-dark btn-xs btn-rounded" title="donnie yen" href="../tag/donnie-yen/">donnie yen</a> <a
            class="btn btn-dark btn-xs btn-rounded" title="chân tử đan" href="../tag/chân-tử-đan/">chân tử đan</a> <a
            class="btn btn-dark btn-xs btn-rounded" title="chung tử đơn" href="../tag/chung-tử-đơn/">chung tử đơn</a> <a
            class="btn btn-dark btn-xs btn-rounded" title="jason statham" href="../tag/jason-statham/">jason statham</a>
        <a class="btn btn-dark btn-xs btn-rounded" title="lý liên kiệt" href="../tag/lý-liên-kiệt/">lý liên kiệt</a> <a
            class="btn btn-dark btn-xs btn-rounded" title="marvel" href="../tag/marvel/">marvel</a> <a
            class="btn btn-dark btn-xs btn-rounded" title="zombie" href="../tag/zombie/">zombie</a><a
            class="btn btn-dark btn-xs btn-rounded" title="người sói" href="../tag/người-sói/">người sói</a> <a
            class="btn btn-dark btn-xs btn-rounded" title="lưu đức hoa" href="../tag/lưu-đức-hoa/">lưu đức hoa</a> <a
            class="btn btn-dark btn-xs btn-rounded" title="kungfu" href="../tag/kungfu/">kungfu</a> <a
            class="btn btn-dark btn-xs btn-rounded" title="tận thế" href="../tag/tận-thế/">tận thế</a> <a
            class="btn btn-dark btn-xs btn-rounded" title="hồng kim bảo" href="../tag/hồng-kim-bảo/">hồng kim bảo</a> <a
            class="btn btn-dark btn-xs btn-rounded" title="paul walker" href="../tag/paul-walker/">paul walker</a> <a
            class="btn btn-dark btn-xs btn-rounded" title="phạm băng băng" href="../tag/phạm-băng-băng/">phạm băng
            băng</a> <a class="btn btn-dark btn-xs btn-rounded" title="phim 18+" href="../genre/phim-18">phim 18+</a> <a
            class="btn btn-dark btn-xs btn-rounded" title="batman" href="../tag/batman/">batman</a> <a
            class="btn btn-dark btn-xs btn-rounded" title="người dơi" href="../tag/người-dơi/">người dơi</a> <a
            class="btn btn-dark btn-xs btn-rounded" title="tom cruise" href="../tag/tom-cruise/">tom cruise</a> <a
            class="btn btn-dark btn-xs btn-rounded" title="iron man" href="../tag/iron-man/">iron man</a> <a
            class="btn btn-dark btn-xs btn-rounded" title="người sắt" href="../tag/người-sắt/">người sắt</a> <a
            class="btn btn-dark btn-xs btn-rounded" title="super man" href="../tag/super-man/">super man</a> <a
            class="btn btn-dark btn-xs btn-rounded" title="siêu nhân" href="../tag/siêu-nhân/">siêu nhân</a> <a
            class="btn btn-dark btn-xs btn-rounded" title="harry potter" href="../tag/harry-potter/">harry potter</a> <a
            class="btn btn-dark btn-xs btn-rounded" title="lý tiểu long" href="../tag/lý-tiểu-long/">lý tiểu long</a> <a
            class="btn btn-dark btn-xs btn-rounded" href="../tag/bilutv">bilutv</a> <a
            class="btn btn-dark btn-xs btn-rounded" href="../">phimmoi</a> <a class="btn btn-dark btn-xs btn-rounded"
            href="../">phimmoizz</a> <a class="btn btn-dark btn-xs btn-rounded" href="../tag/motphim">motphim</a> <a
            class="btn btn-dark btn-xs btn-rounded" href="../tag/bongngo">bongngo&nbsp;</a><a
            class="btn btn-dark btn-xs btn-rounded" href="../tag/phimbathu">phimbathu</a><a
            class="btn btn-dark btn-xs btn-rounded" href="../tag/xemphimplus">xemphimplus</a><a
            class="btn btn-dark btn-xs btn-rounded" href="../tag/hdonline">hdonline</a><a
            class="btn btn-dark btn-xs btn-rounded" href="../tag/banhtv">banhtv</a><a
            class="btn btn-dark btn-xs btn-rounded" href="../tag/phim3s">phim3s</a><a
            class="btn btn-dark btn-xs btn-rounded" href="../tag/hdo">hdo</a><a class="btn btn-dark btn-xs btn-rounded"
            href="../tag/vtv16">vtv16</a><a class="btn btn-dark btn-xs btn-rounded" href="../tag/marvel">marvel</a><a
            class="btn btn-dark btn-xs btn-rounded" href="../tag/dc">dc</a><a class="btn btn-dark btn-xs btn-rounded"
            href="../tag/phimvip">phimvip</a><a class="btn btn-dark btn-xs btn-rounded"
            href="../tag/dongphim">dongphim</a><a class="btn btn-dark btn-xs btn-rounded"
            href="../tag/netflix">netflix</a><a class="btn btn-dark btn-xs btn-rounded"
            href="../tag/zingtv">zingtv</a><a class="btn btn-dark btn-xs btn-rounded"
            href="../tag/zphimmoi">zphimmoi</a><a class="btn btn-dark btn-xs btn-rounded"
            href="../tag/phimmoii">phimmoii</a><a class="btn btn-dark btn-xs btn-rounded"
            href="../tag/phimmoi123">phimmoi123</a><a class="btn btn-dark btn-xs btn-rounded"
            href="../tag/mphimmoi">mphimmoi</a><a class="btn btn-dark btn-xs btn-rounded"
            href="../tag/subnhanh">subnhanh</a><a class="btn btn-dark btn-xs btn-rounded"
            href="../tag/fullphim">fullphim</a><a class="btn btn-dark btn-xs btn-rounded"
            href="../tag/dongphym">dongphym</a><a class="btn btn-dark btn-xs btn-rounded"
            href="../tag/motchill">motchill</a><a class="btn btn-dark btn-xs btn-rounded"
            href="../tag/ssphim">ssphim</a><a class="btn btn-dark btn-xs btn-rounded"
            href="../tag/iphimmoi">iphimmoi</a><a class="btn btn-dark btn-xs btn-rounded"
            href="../tag/bichill">bichill</a></p>
</div>
<app-footer></app-footer>