#main-content {
    background-color: black;
}
.container {
    margin: 0 auto;
    width: auto;
    padding: 0 60px;
    max-width: 1500px;
    .box-player {
        width: 100%;
        margin: 0 auto;
        position: relative;
        z-index: 99;
    }

    ul,
    span,
    p,
    div {
        margin: 0;
        padding: 0;
    }
    .options {
        overflow: hidden;
        margin: 10px 0 0;

        .tool {
            padding-right: 10px;
            float: right;
            li {
                float: left;
                margin: 0 0 0 10px;
                cursor: pointer;
                font-size: 11px;
                list-style: none;
            }
            span {
                color: white;
                float: left;
                font-size: 12px;
                line-height: 30px;
                margin: 0 3px 0 0;
            }
            .power-lamp {
                margin: 5px 0 0 10px;
            }
            .power-lamp em {
                background-color: #3a3a3a;
                background-position: center center;
                background-repeat: no-repeat;
                background: -webkit-gradient(radial, center center, 0, center center, 460, from(#808080), to(#3a3a3a));
                background: -webkit-radial-gradient(circle, #808080, #3a3a3a);
                background: -moz-radial-gradient(circle, #808080, #3a3a3a);
                background: -ms-radial-gradient(circle, #808080, #3a3a3a);
                border-radius: 50%;
                width: 30px;
                height: 30px;
                display: inline-block;
                color: #000;
                text-align: center;
                line-height: 30px;
                font-size: 20px;
            }
            .autoplay {
                margin: 5px 0 0 10px;
                width: 134px;
                .can-toggle {
                    position: relative;
                }
            }
        }
    }
    ul.server-list {
        list-style: none;
        list-style-type: none;
        margin: 0;
        padding: 0;
        .backup-server {
            list-style: none;
            list-style-type: none;
            padding: 0;
            margin: 0;
            border: 1px solid #7c7777;
            border-radius: 3px;
            padding: 3px;
            display: inline-block;
            margin-right: 5px;
            margin-bottom: 5px;
            .server-title {
                font-size: 12px;
                font-weight: 700;
                display: inline-block;
                padding: 0;
                margin: 0;
                background-color: #f1864c;
                color: #181818;
                padding: 7px;
                border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                white-space: nowrap;
            }
            ul.list-episode {
                display: inline-block;
                padding: 0;
                .episode {
                    padding: 0 !important;
                    margin: 0 !important;
                    float: none !important;
                    display: inline-block !important;
                }
            }
            a.btn-episode.active {
                background-color: #f2a900;
                font-weight: 700;
                color: #702526;
            }
            a.btn-episode {
                font-size: 12px;
                font-weight: 700;
                background-color: #121212;
                color: #fff;
                padding: 7px;
                border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                margin-left: 5px;
            }
        }
    }
    .list-server {
        padding: 10px;
        border-radius: 5px;
        overflow: hidden;
        color: #fff601;
        max-width: 1000px;
        margin: 10px auto;
        background: #333;
        padding-bottom: 5px;
        .episodes {
            margin: 20px -7px;
            text-align: center;
            border-bottom: 1px solid #4c4c4c;
            position: relative;
            z-index: 99;
            li {
                display: inline-block;
                margin: 0 5px 15px;
                a.active {
                    background: #ff9601;
                }
                a {
                    color: #fff;
                    font-weight: 700;
                    font-size: 15px;
                    border-radius: 3px;
                    background: #3a3a3a;
                    padding: 7px;
                }
            }
        }
    }
    .box-rating {
        overflow: hidden;
        margin: 0 0 5px;
        span.text {
            font-size: 12px;
            color: #ddd;
        }
        p {
            font-size: 20px;
            color: #f78144;
        }
    }
    .film-info {
        p {
            color: white;
        }
    }
    .comment {
        background: #fff;
        padding: 5px;
        margin: 20px 0 0;
        border-radius: 3px;
    }
    .film-info h1 {
        font-size: 28px;
        margin: 20px 0 8px;
        color: #ff9601;
    }
    .film-info > a > h2 {
        font-size: 16px;
        margin: 0 0 10px;
        font-weight: 700;
        color: #fff;
    }
    .film-related .item img {
        width: 100%;
        height: 100px;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
    }
    .list-film {
        margin-right: -10px;
        position: relative;
        overflow: hidden;
        .item .label-quality {
            position: absolute;
            padding: 5px;
            font-size: 11px;
            color: #fff;
            z-index: 2;
            left: 0;
            background: #ff9601;
            border-radius: 0 5px 5px 0;
        }
        .item .label {
            position: absolute;
            padding: 5px;
            font-size: 11px;
            color: #fff;
            background: #1b2a39;
            border-bottom: 2px solid #bb3c2f;
            border: 1px solid #1b2a3900;
            position: relative top;
            z-index: 2;
            font-weight: 400;
            background-size: 200% 100%;
            background-image: linear-gradient(to right, #c02425 0%, #f0cb35 51%, #c02425 100%);
            transition: 0.7s;
        }
    }
    .film-related {
      
        margin: 20px 0 0;
        padding: 10px 0 0;
        > .heading {
            .caption {
                font-size: 25px;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 15px;
                padding: 16px 0;
                color: #ff8a00;
            }
        }
        > owl-carousel-o > div {
            background-color: red;
        }
        
        .item {
            position: relative;
            // top right bottom left
            > span {
                position: absolute;
                top: 0px;
                left: 8px;
                padding: 5px;
                background: #ff9601;
                border-radius: 0 5px 5px 0;
            }
            > a {
                display: block;
                margin: 0 8px;
                overflow: hidden;
                color: white;
                > img {
                    width: 100%;
                    // width: 100%;
                    height: 100px;
                    object-fit: cover;
                }
                > p {
                    background-color: rgba(0, 0, 0, 0.7);
                    width: 92.5%;
                    //width: 85%;
                    max-height: 35px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    position: absolute;
                    bottom: 0;
                    margin: 0;
                    // top right bottom left
                    padding: 5px 0px 5px 2px;
                }
            }
            > .icon-play {
                background: rgba(255, 150, 1, 0.75);
                height: 50px;
                width: 50px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -25px 0 0 -25px;
                border-radius: 50%;
                transform: scale(1.5);
                transition: all 0.3s ease-in-out;
                cursor: pointer;
                opacity: 0;
            }
            > .icon-play::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                border: 15px solid transparent;
                border-left: 20px solid #fff;
                margin: -15px 0 0 -6px;
            }
        }
        .item:hover{
            > .icon-play {
                transform: scale(1.05);
                opacity: 0.7;
            }
        }
        .overlay {
            position: relative;
        }
        .owl-buttons div {
            background: 0 0;
            padding: 0;
            margin: 0;
            position: absolute;
            z-index: 10;
            top: 50%;
            font-size: 80px;
            opacity: 0.6;
            color: #ff9601;
            margin-top: -57px;
            i {
                cursor: pointer;
            }
        }
        .owl-buttons div.owl-next {
            right: 8px;
        }
        .owl-buttons div.owl-prev {
            left: 8px;
        }
    }
}
