<div id="main-content">
    <div id="content">
        <div class="container" id="page-player">
            <div class="box-player" id="box-player">
                <div id="player">
                    <div class="box_loading_player" id="media-player-box"></div>
                    <div class="loading-container"></div>
                </div>
                <div class="film-note" style="margin-bottom:20px;border: 1px solid #B8B612;padding: 5px;">"Phim Xem tốt nhất trên trình duyệt Safari,FireFox hoặc Chrome. Đừng tiếc 1 comment bên dưới để đánh giá phim hoặc báo lỗi"</div>
                <div class="options">
                    <ul class="tool">
                        <li class="off-ads"></li>
                        <li class="power-lamp"></li>
                        <li class="autoplay">
                            <span>Tự chuyển tập</span>
                            <div class="can-toggle demo-rebrand-2">
                                <input type="btn_autonext" checked="cheked" type="checkbox">
                                <label for="btn_autonext">
                                    <div class="can-toggle__switch" data-checked="Yes" data-unchecked="No"></div>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="pm-server"></div>
            <div class="list-server" id="list-server"></div>
            <div class="box-rating"></div>
            <div class="social"></div>
            <div class="film-info"></div>
        </div>
    </div>
</div>