.submenu {
    display: none;
    left: 10px;
    top: 35px;
    padding: 0;
    list-style: none;
    position: absolute;
    width: 350px;
    background: #121212;
    z-index: 100;
    > li {
        float: left;
        width: 50%;
        // top right bottom left
        padding: 5px 5px 5px 5px;
        margin: 0;
        > a {
            color: white;
        }
    }
    > li:hover {
        > a {
            color: orange;
        }
    }
}
.header {
    background: #121212;
    padding: 5px;
    .container {
        border:1px solid red;
        display: flex;
        .logo {
            margin: 0;
            float: left;
            width: 13%;
            max-width: 200px;
            img {
                height: 60px;
                // top right bottom left
                padding: 12px 6px 12px 4px;
            }
        }
        #main-menu {
            list-style: none;
            margin-top: 10px;
            display: flex;

            .li-main-menu {
                // top right bottom left
                padding: 5px 2px 5px 20px;
                position: relative;
                > a {
                    text-transform: uppercase;
                    color: white;
                }
            }
            .li-main-menu:hover {
                > a {
                    color: orange;
                }
                > .submenu {
                    display: block;
                }
            }
        }
        .form-search {
            margin-left: auto;
            margin-top: 10px;
            border: 1px solid white;
            float: right;
            position: relative;
            color: white;
            padding: 5px;
            max-height: 35px;
            ::placeholder {
                color: white;
            }
            input {
                background-color: #121212;
                color: white;
            }
            .searchsubmit {
                position: absolute;
                right: 10px;
            }
        }
    }
}

@media only screen and (max-width: 1380px) {
    .header{
        display: flex;
        .container{
            display: block;
        }
    }
}
