<div class="header">
    <div class="container">
        <div class="logo">
            <a href="#" title="WebPhim">
                <img src="https://phimchill.net/dev/images/logo.png" alt="phimmoi" />
            </a>
        </div>
        <ul id="main-menu">
            <li class="li-main-menu">
                <a title="PhimMoi" href="#">PhimMoi</a>
            </li>
            <li class="li-main-menu">
                <a title="PhimMoi" href="#">Phim Lẻ</a>
            </li>
            <li class="li-main-menu">
                <a title="PhimMoi" href="#">Phim Bộ</a>
            </li>
            <li class="li-main-menu">
                <a title="PhimMoi" href="#">Thể Loại</a>
                <ul class="submenu">
                    <li>
                        <a href="#" class="sub-menu-link">Phim Hành Động</a>
                    </li>
                    <li>
                        <a href="#" class="sub-menu-link">Phim Võ Thuật</a>
                    </li>
                    <li>
                        <a href="#" class="sub-menu-link">Phim Tình Cảm</a>
                    </li>
                    <li>
                        <a href="#" class="sub-menu-link">Phim Hoạt Hình</a>
                    </li>
                    <li>
                        <a href="#" class="sub-menu-link">Phim Hài Hước</a>
                    </li>
                    <li>
                        <a href="#" class="sub-menu-link">Phim Viễn Tưởng</a>
                    </li>
                    <li>
                        <a href="#" class="sub-menu-link">Phim Cổ Trang</a>
                    </li>
                    <li>
                        <a href="#" class="sub-menu-link">Phim Phiêu Lưu</a>
                    </li>
                    <li>
                        <a href="#" class="sub-menu-link">Phim Tâm Lý</a>
                    </li>
                    <li>
                        <a href="#" class="sub-menu-link">Phim Khoa Học</a>
                    </li>
                    <li>
                        <a href="#" class="sub-menu-link">Phim Hình Sự</a>
                    </li>
                    <li>
                        <a href="#" class="sub-menu-link">Phim Ma - Kinh Dị</a>
                    </li>
                    <li>
                        <a href="#" class="sub-menu-link">Phim Chiến Tranh</a>
                    </li>
                    <li>
                        <a href="#" class="sub-menu-link">Phim Âm Nhạc</a>
                    </li>
                </ul>
            </li>
            <li class="li-main-menu">
                <a title="PhimMoi" href="#">Quốc Gia</a>
                <ul class="submenu">
                    <li>
                        <a href="#" class="sub-menu-link">Phim Trung Quốc</a>
                    </li>
                    <li>
                        <a href="#" class="sub-menu-link">Phim Hàn Quốc</a>
                    </li>
                    <li>
                        <a href="#" class="sub-menu-link">Phim Nhật Bản</a>
                    </li>
                    <li>
                        <a href="#" class="sub-menu-link">Phim Âu Mỹ</a>
                    </li>
                    <li>
                        <a href="#" class="sub-menu-link">Phim Thái Lan</a>
                    </li>
                    <li>
                        <a href="#" class="sub-menu-link">Phim Đài Loan</a>
                    </li>
                    <li>
                        <a href="#" class="sub-menu-link">Phim Tổng Hợp</a>
                    </li>
                    <li>
                        <a href="#" class="sub-menu-link">Phim Hồng Kông</a>
                    </li>
                </ul>
            </li>
            <li class="li-main-menu">
                <a title="PhimMoi" href="#">Năm Phát Hành</a>
                <ul class="submenu">
                    <li>
                        <a href="#" class="sub-menu-link">Phim 2021</a>
                    </li>
                    <li>
                        <a href="#" class="sub-menu-link">Phim 2020</a>
                    </li>
                    <li>
                        <a href="#" class="sub-menu-link">Phim 2019</a>
                    </li>
                    <li>
                        <a href="#" class="sub-menu-link">Phim 2018</a>
                    </li>
                    <li>
                        <a href="#" class="sub-menu-link">Phim 2017</a>
                    </li>
                    <li>
                        <a href="#" class="sub-menu-link">Phim 2016</a>
                    </li>
                    <li>
                        <a href="#" class="sub-menu-link">Phim 2015</a>
                    </li>
                    <li>
                        <a href="#" class="sub-menu-link">Phim 2014</a>
                    </li>
                    <li>
                        <a href="#" class="sub-menu-link">Phim 2013</a>
                    </li>
                </ul>
            </li>
            <li class="li-main-menu">
                <a title="PhimMoi" href="#">Phim Chiếu Rạp</a>
            </li>
            <li class="li-main-menu">
                <a title="PhimMoi" href="#">Trailer</a>
            </li>
            <li class="li-main-menu">
                <a title="PhimMoi" href="#">Top Phim</a>
            </li>
        </ul>
        <form id="form-search" class="form-search">
            <input placeholder="Tìm tên phim, diễn viên..." type="text" />
            <i id="searchsubmit" class="fa fa-search"></i>
        </form>
    </div>
</div>