<div id="footer">
    <div class="container">
        <div class="row align-items-start">
            <a href="footer-logo" class="col" href="/">
                <img src="https://phimchill.net/dev/images/logo.png" alt="phimmoi.net">
            </a>
            <div class="col contact">
                <p>Phim Mới</p>
                <ul>
                    <li><a href="" title="Phim chiếu rạp">Phim chiếu rạp</a></li>
                    <li><a href="" title="Phim chiếu rạp">Phim chiếu rạp</a></li>
                    <li><a href="" title="Phim chiếu rạp">Phim chiếu rạp</a></li>
                    <li><a href="" title="Phim chiếu rạp">Phim chiếu rạp</a></li>
                    <li><a href="" title="Phim chiếu rạp">Phim chiếu rạp</a></li>
                </ul>
            </div>
            <div class="col">
                <p>Phim Hay</p>
                <ul>
                    <li><a href="" title="Phim chiếu rạp">Phim chiếu rạp</a></li>
                    <li><a href="" title="Phim chiếu rạp">Phim chiếu rạp</a></li>
                    <li><a href="" title="Phim chiếu rạp">Phim chiếu rạp</a></li>
                    <li><a href="" title="Phim chiếu rạp">Phim chiếu rạp</a></li>
                    <li><a href="" title="Phim chiếu rạp">Phim chiếu rạp</a></li>
                </ul>
            </div>
            <div class="col">
                <p>Phim Hot</p>
                <ul>
                    <li><a href="" title="Phim chiếu rạp">Phim chiếu rạp</a></li>
                    <li><a href="" title="Phim chiếu rạp">Phim chiếu rạp</a></li>
                    <li><a href="" title="Phim chiếu rạp">Phim chiếu rạp</a></li>
                    <li><a href="" title="Phim chiếu rạp">Phim chiếu rạp</a></li>
                    <li><a href="" title="Phim chiếu rạp">Phim chiếu rạp</a></li>
                </ul>
            </div>
            <div class="col">
                <p>Trợ Giúp</p>
                <ul>
                    <li><a href="" title="Phim chiếu rạp">Phim chiếu rạp</a></li>
                    <li><a href="" title="Phim chiếu rạp">Phim chiếu rạp</a></li>
                    <li><a href="" title="Phim chiếu rạp">Phim chiếu rạp</a></li>
                    <li><a href="" title="Phim chiếu rạp">Phim chiếu rạp</a></li>
                    <li><a href="" title="Phim chiếu rạp">Phim chiếu rạp</a></li>
                </ul>
            </div>
            <div class="col">
                <p>Thông Tin</p>
                <ul>
               
                    <li><a href="" title="Phim chiếu rạp">Phim chiếu rạp</a></li>
                    <p>© 2021 PhimChill.Net</p>
                </ul>
            </div>
        </div>

    </div>