/* You can add global styles to this file, and also import other style files */
a,
a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none !important;
}

// remove css input
textarea:focus,
input:focus {
    outline: none;
}

input {
    border: none;
}

body,
html {
    background: #1a1a1a;
    margin: 0;
    font-family: Arial,Tahoma;
    font-size: 14px;
    color: #dcdcdc;
    @media only screen and (max-width: 1183px) {
        background-color: lightblue;
    }
}
