body,
html {
    background: #1a1a1a;
    margin: 0;
    font-family: Arial, Tahoma;
    font-size: 14px;
    color: #dcdcdc;
    
    a,
    a:focus,
    a:hover {
        text-decoration: none;
    }
    @media only screen and (max-width: 1183px) {
        
        background-color: lightblue;
      
    }
   
}
